* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container para os ícones ficarem padronizados */
.tech-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

}

/* Imagem adaptada */
.tech-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}

.tech-name {
  margin: 0;
  font-weight: 600;

}

.text-about {
  text-align: justify;

}

.btn-size {
  width: 100%;

}

.text-size {
  margin-top: 5px;

}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon {
  width: 22px;
  height: 22px;
  color: rgb(149, 149, 149);
  transition: 0.3s ease;

}

.img {
  width: 190px;
  height: 190px;
  animation: float 7s ease-in-out infinite;

}

h2 {
  font-size: 30px;
  font-weight: 600;
}

/* Seletor condicional */
[data-bs-theme="light"] .icon:hover { /* Azul no modo claro */
  --data-bs-theme: #0d6efd;

}

[data-bs-theme="dark"] .icon:hover { /* Branco no modo escuro */
  --data-bs-theme: #ffffff;

}

/* Chama a variável de acordo com o tema atual */
.icon:hover {
  color: var(--data-bs-theme);
  transform: scale(1.10);

}

/* Animação */
@keyframes float {
 0% {
  transform: translateY(0);
 }

 50% {
  transform: translateY(-10px);

 }

 100% {
  transform: translateY(0);

 }
}